@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import '../../node_modules/bulma';
body,html {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0 !important;
  background: #fafafa;
  height: 100%;
  width: 100%;
}
footer {
  height: calc(100vh - 80px);
  height: 80px;
  background:#f2f2f2;
  border-top:1px solid #e4e4e4;
 }
 main{
  min-height: 70vh
 }
 .banner-not-logged{
   display:block;
   margin:0 auto;
 }
 a{
   color:white;
 }
 .colection-links{
   color:rgba(0, 0, 0, 0.54);
   border-bottom: 1px solid rgba(0, 0, 0, 0.54);
   &:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
   }
 }
 .active{
   color:#f50;
   border-bottom: 1px solid #f50;
 }
 .grids-songs{
   display: inline-block;
   margin-right:1rem;
 }

.media-upload{
  .column{
    cursor: pointer;
    svg{
      height: 3rem !important;
      width: 1.75rem !important;
    }
  }
}

.backgroundImage{
  background-size: cover;
  margin-top:0.7rem;
  .columns{
    .flexbox{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgba(254, 254, 254, 1) !important;
      text-shadow: 0.5px 0.5px #000000;
    }
  }
}
.seguidores{
  .card-footer{
    .card-footer-item{
      text-align: center;
    }
  }
}